nav {
  background-color: #282c34;
  font-size: 1.2rem;
}

.bg-content {
  background-image: url(backgrounds/bg_right.jpg);
  background-size: cover;
}

.bg-sidebar {
  background-image: url(backgrounds/bg_left.jpg);
  background-size: cover;
  height: 95vh;
}

.footer {
  background-color: #282c34;
  min-height: 150px;
  padding: 50px 0px;
}
